{% set description = "The Gitea Community is asking Gitea Owners to correct
conflicts of interest and restore Community Trust." %} {% set headline =
"Restoring Trust in the Gitea Project" %} {% set title = "Open Letter to Gitea"
%}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
  {% include "head.html" %}

  <body>
    <div class="container">
      {% include "nav.html" %}
      <main id="main" tabindex="-1">
        {% block content %}
        <article class="post">
          <img
            class="header-img"
            height="300px"
            width="300px"
            src="/logo.png"
            alt="Gitea Open Letter logo"
          />

          <p class="banner--highlight">
            {% for page in section.pages %}
              {% if page.title == "Gitea Ltd confirms its takeover of the Gitea project" %}
                <div class="content">{{ page.content | safe }}</div>
              {% endif %}
             {% endfor %}
          </p>


          {% for page in section.pages %}
            {% if page.title == "Gitea Open Letter" %}
            <p class="banner">
              Click
              <a
                href="{{ get_url(path='updates/atom.xml', trailing_slash=false) }}"
                ><button class="banner__btn">here</button>
              </a>
              to subscribe for daily updates!
            </p>
            <br />
            <hr />
            <br />
            <div class="content">{{ page.content | safe }}</div>
            {% endif %}
           {% endfor %}
        </article>
        {% endblock content %}
      </main>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{
    get_url(path="updates/atom.xml", trailing_slash=false) }}"> {% include
    "footer.html" %}

    </div>

  </body>
  <!-- realaravinth: theme stolen from https://github.com/zbrox/anpu-zola-theme (MIT) -->
</html>
