<header>
  <h1>
    <a href="https:&#x2F;&#x2F;gitea-open-letter.coding.social&#x2F;"
      >Open Letter to Gitea</a
    >
  </h1>
  <div class="nav__spacer"></div>
  <nav>
    {% block sidebar_nav %} {% for menu_link in config.extra.anpu_menu_links %}
    {% set link_url = menu_link.url | replace(from="$BASE_URL",
    to=config.base_url) %}
    <a class="nav__link" href="{{ link_url }}">{{menu_link.name}}</a>
    {% endfor %} {% endblock sidebar_nav %}
  </nav>
</header>
