{% set title = "Open Letter to Gitea" %}
<!-- TODO set description and headline!!!  -->
{% set description = "The Gitea Community is asking Gitea Owners to correct
conflicts of interest and restore Community Trust." %} {% set headline =
"Restoring Trust in the Gitea Project" %}

<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
  {% include "head.html" %}

  <body>
    <div class="container">
      {% include "nav.html" %}

      <main id="main" tabindex="-1">
        {% block content %}
        <article class="post">
          <h2 class="page__group-title">{{ page.title }}</h2>
          <img
            class="header-img"
            height="300px"
            width="300px"
            src="/logo.png"
            alt="Gitea Open Letter logo"
          />
          <div class="content">{{ page.content | safe }}</div>
        </article>
        {% endblock content %}
      </main>
    {% include "footer.html" %}
    </div>
  </body>
  <!-- realaravinth: theme stolen from https://github.com/zbrox/anpu-zola-theme (MIT) -->
</html>
